<!-- care-instructions.component.html -->
<div class="w-3/4 max-w-screen-lg mx-auto py-10 px-40 bg-white">
  <h1 class="text-center text-2xl font-semibold mb-10">Instructions d'Entretien</h1>

  <p class="mb-4">
    Tous nos articles sont faits à la main et conçus pour résister à l'épreuve du temps. Cependant, un bon entretien est
    extrêmement important pour les maintenir dans les meilleures conditions. Nous avons compilé un guide ci-dessous pour
    vous aider à entretenir vos nouveaux articles au fil des années.
  </p>

  <section class="mb-8">
    <h2 class="text-xl font-semibold mb-3">Céramiques</h2>
    <p class="mb-3">Toutes les céramiques Chabi Chic, y compris les tasses, les assiettes et les bols à salade, peuvent
      être lavées et la plupart sont adaptées au lave-vaisselle. Veuillez vérifier les instructions d'entretien avec la
      fiche produit pour des articles spécifiques.</p>
    <p class="mb-3">Les céramiques Tamegroute et Tadelakt ne doivent être essuyées qu'avec un chiffon humide et ne
      conviennent pas au lave-vaisselle.</p>
  </section>

  <section class="mb-8">
    <h2 class="text-xl font-semibold mb-3">Poufs de cuir</h2>
    <p class="mb-3">Pour entretenir votre pouf en cuir, nous vous recommandons d’utiliser un chiffon sec ou légèrement
      humide lorsque vous essuyez pour enlever les marques ou les déversements. Si vous utilisez de l’eau, appliquez
      seulement du froid et maintenez-le au minimum. Évitez d’utiliser des produits de nettoyage, des savons ou des
      produits de polissage sur la surface.</p>
    <p class="mb-3">Pour vous assurer que la couleur de votre pouf ne se décolore pas, gardez-le à l’abri de la lumière
      directe du soleil. En outre, évitez de placer des articles chauds sur le pouf directement ou de le garder près
      d’une source de chaleur telle que cheminée ou radiateur. Cela empêchera le cuir de sécher.</p>
  </section>

  <section class="mb-8">
    <h2 class="text-xl font-semibold mb-3">Poufs berbères/Coussins de sol</h2>
    <p class="mb-3">Nos coussins de sol berbères sont faits de laine et doivent être nettoyés professionnellement à sec.
      Vous pouvez, si vous le souhaitez, laver à la main avec de l’eau fraîche. Ne pas utiliser de savons ou de
      détergents chimiques pour éviter d’endommager/faire couler la teinture. Sécher à l’air libre après.</p>
  </section>

  <section class="mb-8">
    <h2 class="text-xl font-semibold mb-3">Tapis</h2>
    <p class="mb-3">Tous les tapis doivent être nettoyés à sec uniquement par un professionnel. </p>
  </section>

  <section class="mb-8">
    <h2 class="text-xl font-semibold mb-3">Oreillers</h2>
    <p class="mb-3">Tous les coussins Sabra Silk, Beni Ourain et Vintage doivent être nettoyés à sec uniquement. Notre
      gamme de coton Pom Pom peut être lavée à 30 degrés. Pour garder les pompons beaux, nous vous recommandons de laver
      la housse à l'envers et dans une taie d'oreiller.
    </p>
  </section>

  <section class="mb-8">
    <h2 class="text-xl font-semibold mb-3">Couvertures</h2>
    <p class="mb-3">Nos couvertures Pom Pom peuvent être lavées à 30 degrés. Nous vous suggérons de laver la couverture
      à l'intérieur d'une housse de couette afin de conserver la beauté des pompons.</p>
  </section>
  <!-- Ajoutez d'autres sections pour les différents produits avec des styles similaires -->
</div>
