<div class="container mx-auto my-8">
  <div class="flex flex-col-reverse sm:flex-row justify-center items-center">
    <div class="flex flex-1 sm:w-3/4 pt-2  sm:pt-0 justify-center text-center">
      <p class="w-96">
        Pour chaque matériau naturel, il existe au Maroc une tradition de travail manuel visant à l'enrichir par un
        artisanat raffiné. Les artisans marocains investissent leur cœur et leur âme dans leur travail, souvent au sein
        d'ateliers familiaux où le savoir-faire artisanal et les motifs traditionnels se transmettent de génération en
        génération
      </p>
    </div>
    <div class="flex flex-1 justify-center px-4 sm:px-0 sm:w-1/4">
      <img [src]="hand" class="w-96">
    </div>
  </div>

  <div class="flex flex-col sm:flex-row justify-center items-center">
    <div class="flex flex-1 justify-center px-4 sm:px-0 sm:w-1/4">
      <img [src]="hand2" class="h-96">
    </div>
    <div class="flex flex-1 sm:w-3/4 pt-2  sm:pt-0  justify-center text-center">
      <p class="w-96">
        L'artisanat marocain met en valeur le meilleur des compétences des artisans ainsi que les qualités des matières
        premières telles que la laine, le cuir, l'argile et le laiton. L'utilisation de matériaux simples signifie
        également que leurs produits dureront et vieilliront avec élégance.
      </p>
    </div>
  </div>
</div>
