<div class="flex justify-center bg-gray-100">
  <mat-toolbar class="justify-between max-w-7xl mx-auto bg-gray-100">
    <a routerLink="home"(click)="navigateTo('/home')" class="cursor-pointer">Artisanat</a>
    <div>
      <a routerLink="about-us" (click)="navigateTo('/about-us')" class="cursor-pointer me-4 text-base font-normal"> About-us </a>
      <a routerLink="about-us" (click)="navigateTo('/about-us')" class="cursor-pointer me-4 text-base font-normal"> About-us </a>
      <a routerLink="about-us" (click)="navigateTo('/about-us')" class="cursor-pointer me-4 text-base font-normal"> About-us </a>
      <a routerLink="about-us" (click)="navigateTo('/about-us')" class="cursor-pointer me-4 text-base font-normal"> About-us </a>
    </div>
    <div>
      <a routerLink='/login' (click)="navigateTo('/login')" class="cursor-pointer border-2 border-amber-500 me-5 rounded-lg px-4 py-1 hover:bg-amber-500 hover:text-white" >se connecter </a>

      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon
        [matBadge]="1"
        [matBadgeColor]="'warn'"
        [color]="'blue'"
          >shopping_cart</mat-icon
        >
      </button>
    </div>

    <mat-menu #menu="matMenu">
      <div class="p-3 divide-y divide-solid">
        <div class="pb-3 flex justify-between">
          <span class="mr-16">4 items</span>
          <a routerLink="cart">View Cart</a>
        </div>

        <div class="flex justify-between py-3 font-light">
          Total:
          <span class="font-bold not-italic">{{
            '1500' | currency
          }}</span>
        </div>
        <div class="pt-3 flex justify-between">
          <button
            class="bg-rose-600 text-white rounded-full w-9 h-9"
          >
            <mat-icon>remove_shopping_cart</mat-icon>
          </button>
          <button
            routerLink="cart"
            class="bg-green-600 text-white rounded-full w-9 h-9"
          >
            <mat-icon>shopping_cart_checkout</mat-icon>
          </button>
        </div>
      </div>
    </mat-menu>
  </mat-toolbar>
</div>
