<div class="grid grid-cols-5 mb-12 mt-20">
  <div class="col-span-1 bg-gray-50">
    <mat-card class="h-full">
      <mat-card-header>
        <app-filters (showCategory)="onShowCategory($event)"></app-filters>
      </mat-card-header>
    </mat-card>
  </div>
  <div class="col-span-4 ">
    <mat-card class="pb-12">
      <mat-card-header class="ms-5 mb-3">
        <mat-card-title >Products</mat-card-title>
        <!-- <mat-card-subtitle>Start</mat-card-subtitle> -->
      </mat-card-header>

      <div class="w-full min-h-96 px-6 pt-2 grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4">
        <div *ngFor="let produit of products" >
          <app-product-box [produit]="produit" ></app-product-box>
        </div>
      </div>
      <mat-paginator
        hidePageSize="true"
        pageSize="8"
        [length]="qteProduit"
        [pageSizeOptions]="[10, 50, 100]"
        aria-label="Select page"
        (page)="handlePageEvent($event)"
        >
      </mat-paginator>

    </mat-card>
  </div>
</div>
