<div class="w-3/4 max-w-screen-lg mx-auto py-10 px-40 bg-white">
  <h1 class="text-center text-2xl font-semibold mb-10">RETOURS ET ÉCHANGES</h1>

  <section class="mb-8">
    <h2 class="text-xl font-semibold mb-3">POLITIQUE DE RETOUR</h2>
    <p class="mb-3">Nous espérons que vous aimerez votre achat, mais nous comprenons si vous changez d'avis. Si, pour
      une raison quelconque, vous n'êtes pas entièrement satisfait de votre commande, nous serons heureux de vous
      proposer un échange ou un remboursement dans les 14 jours suivant sa réception, à condition qu'elle nous soit
      retournée inutilisée et dans son emballage d'origine.</p>
    <p class="mb-3">Merci de soumettre votre demande de retour par email à info@artisans-dumaroc. Cela doit inclure
      votre numéro de commande d'origine, les détails du ou des articles que vous retournez et la raison du retour. Nous
      vous répondrons avec les instructions d'expédition le jour ouvrable suivant. Veuillez noter que vous serez
      responsable du paiement des frais d'expédition pour le retour de votre article. Tous les droits d'importation
      pouvant survenir lors de l'expédition et des articles retournés devront également être couverts.</p>
    <p class="mb-3">Nous vous recommandons de retourner les articles par courrier recommandé et d'obtenir une preuve
      d'envoi. Nous n'acceptons aucune responsabilité pour les marchandises perdues ou endommagées pendant le transport.
    </p>
    <p class="mb-3">Si nous constatons que les produits ne sont pas retournés dans un état vendable ou sont endommagés,
      nous nous réservons le droit de refuser un échange ou un remboursement. Veuillez utiliser un emballage approprié
      pour protéger votre colis pendant le transport.</p>
  </section>

  <section class="mb-8">
    <h2 class="text-xl font-semibold mb-3">ANNULATIONS</h2>
    <p class="mb-3">Si vous changez d'avis et souhaitez annuler votre commande, veuillez nous contacter dès que
      possible. Si vos marchandises n'ont pas déjà été expédiées, nous annulerons votre commande et procéderons à un
      remboursement. Dans les cas où la commande a déjà été expédiée, vous devrez nous retourner la marchandise afin que
      nous puissions procéder à un remboursement. Les frais de livraison ne seront pas remboursés</p>
  </section>

  <section class="mb-8">
    <h2 class="text-xl font-semibold mb-3">ARTICLES DÉFECTUEUX/ENDOMMAGÉS</h2>
    <p class="mb-3">Tous les produits vendus par Artisans du Maroc sont fabriqués à la main et peuvent donc présenter
      des imperfections et/ou des défauts mineurs. Nous considérons que c'est une caractéristique du processus qui fait
      partie de leur charme et de leur unicité. Malheureusement, des défauts de fabrication peuvent parfois survenir,
      donc si vous pensez que c'est le cas, nous serons heureux de vous proposer un remplacement ou un remboursement
      complet une fois que nous aurons reçu et inspecté les marchandises. Veuillez nous informer par écrit dans les 5
      jours ouvrables avec des photos du défaut/du dommage.</p>
  </section>

  <section class="mb-8">
    <h2 class="text-xl font-semibold mb-3">PROCESSUS DE REMBOURSEMENT</h2>
    <p class="mb-3">Les remboursements seront effectués moins les frais d'expédition d'origine. Vous recevrez un e-mail
      de confirmation lorsque le remboursement aura été effectué et votre compte sera crédité du montant dans les 10
      jours ouvrables .</p>
  </section>

</div>
