<div class="w-3/4 max-w-screen-lg mx-auto py-10 px-40 bg-white">
  <h1 class="text-center text-2xl font-semibold mb-10">Terms et conditions</h1>

  <section class="mb-8">
    <h2 class="text-xl font-semibold mb-3">APERÇU</h2>
    <p class="mb-3">Ce site Internet est exploité par Artisans du Maroc. Sur l'ensemble du site, les termes « nous », « notre » et « nos » font référence à Artisans du Maroc. Artisans du Maroc propose ce site Web, y compris toutes les informations, outils et services disponibles sur ce site à vous, l'utilisateur, sous réserve de votre acceptation de tous les termes, conditions, politiques et avis énoncés ici.</p>
    <p class="mb-3">En visitant notre site et/ou en achetant quelque chose chez nous, vous vous engagez dans notre « Service » et acceptez d'être lié par les termes et conditions suivants (« Conditions d'utilisation », « Conditions »), y compris ces termes et conditions et politiques supplémentaires. référencé ici et/ou disponible par lien hypertexte. Ces conditions d'utilisation s'appliquent à tous les utilisateurs du site, y compris, sans limitation, les utilisateurs qui sont des navigateurs, des fournisseurs, des clients, des commerçants et/ou des contributeurs de contenu.</p>
    <p class="mb-3" >Veuillez lire attentivement ces conditions d'utilisation avant d'accéder ou d'utiliser notre site Web. En accédant ou en utilisant n'importe quelle partie du site, vous acceptez d'être lié par ces conditions d'utilisation. Si vous n'acceptez pas tous les termes et conditions de cet accord, vous ne pouvez pas accéder au site Web ni utiliser aucun service. Si ces conditions de service sont considérées comme une offre, l'acceptation est expressément limitée à ces conditions de service.</p>
    <p class="mb-3" >Toute nouvelle fonctionnalité ou outil ajouté à la boutique actuelle sera également soumis aux conditions d'utilisation. Vous pouvez consulter la version la plus récente des Conditions d'utilisation à tout moment sur cette page. Nous nous réservons le droit de mettre à jour, modifier ou remplacer toute partie de ces conditions d'utilisation en publiant des mises à jour et/ou des modifications sur notre site Web. Il est de votre responsabilité de vérifier périodiquement cette page pour connaître les changements. Votre utilisation continue ou votre accès au site Web après la publication de toute modification constitue une acceptation de ces modifications.</p>
    <p class="mb-3" >Notre boutique est hébergée sur Shopify Inc. Ils nous fournissent la plateforme de commerce électronique en ligne qui nous permet de vous vendre nos produits et services.</p>
  </section>

  <section class="mb-8">
    <h2 class="text-xl font-semibold mb-3">SECTION 1 – CONDITIONS DE LA BOUTIQUE EN LIGNE</h2>
    <p class="mb-3">En acceptant ces conditions d'utilisation, vous déclarez que vous avez au moins l'âge de la majorité dans votre état ou province de résidence, ou que vous avez l'âge de la majorité dans votre état ou province de résidence et vous nous avez donné votre consentement à permettre à l'une des personnes mineures à votre charge d'utiliser ce site.<br>
      Vous ne pouvez pas utiliser nos produits à des fins illégales ou non autorisées et vous ne pouvez pas, en utilisant le Service, violer les lois de votre juridiction (y compris, mais sans s'y limiter, les lois sur les droits d'auteur).<br>
      Vous ne devez transmettre aucun vers, virus ou code à caractère destructeur.<br>
      Une violation ou une violation de l’une des Conditions entraînera la résiliation immédiate de vos Services.</p>
  </section>


</div>
