<div class="w-3/4 max-w-screen-lg mx-auto py-10 px-40 bg-white">
  <h1 class="text-center text-2xl font-semibold mb-10">POLITIQUE DE CONFIDENTIALITÉ</h1>

  <section class="mb-8">
    <h2 class="text-xl font-semibold mb-3">Votre vie privée compte !</h2>
    <p class="mb-3">Nous prenons votre vie privée extrêmement au sérieux et vous recommandons donc de consulter attentivement notre politique pour comprendre les informations importantes sur qui nous sommes et comment protéger les informations et données personnelles de nos clients.</p>
    <p class="mb-3">Sur cette page vous comprendrez :</p>
    <ul class="list-disc pl-5">
      <li>Qui nous sommes.</li>
      <li>Comment et pourquoi nous collectons, stockons et utilisons des informations personnelles.</li>
      <li>Vos droits concernant vos informations personnelles.</li>
      <li>Comment nous contacter ainsi que les autorités de contrôle en cas d'engagements non respectés ou de plaintes.</li>
    </ul>
  </section>

  <section class="mb-8">
    <h2 class="text-xl font-semibold mb-3">Qui nous sommes</h2>
    <p class="mb-3">Artisans Du Maroc (« nous » ou « nos ») collectent, utilisent et sont responsables de la maintenance et de la sécurité globale de vos informations personnelles. Nous suivons et adhérons au Règlement général sur la protection des données qui s'applique dans toute l'Union européenne (y compris au Royaume-Uni) et nous sommes responsables en tant que « contrôleur » de ces informations personnelles aux fins de ces lois.</p>
  </section>

  <section class="mb-8">
    <h2 class="text-xl font-semibold mb-3">Céramiques</h2>
    <p class="mb-3">Toutes les céramiques Chabi Chic, y compris les tasses, les assiettes et les bols à salade, peuvent
      être lavées et la plupart sont adaptées au lave-vaisselle. Veuillez vérifier les instructions d'entretien avec la
      fiche produit pour des articles spécifiques.</p>
    <p class="mb-3">Les céramiques Tamegroute et Tadelakt ne doivent être essuyées qu'avec un chiffon humide et ne
      conviennent pas au lave-vaisselle.</p>
  </section>

  <section class="mb-8">
    <h2 class="text-xl font-semibold mb-3">Céramiques</h2>
    <p class="mb-3">Toutes les céramiques Chabi Chic, y compris les tasses, les assiettes et les bols à salade, peuvent
      être lavées et la plupart sont adaptées au lave-vaisselle. Veuillez vérifier les instructions d'entretien avec la
      fiche produit pour des articles spécifiques.</p>
    <p class="mb-3">Les céramiques Tamegroute et Tadelakt ne doivent être essuyées qu'avec un chiffon humide et ne
      conviennent pas au lave-vaisselle.</p>
  </section>

  <section class="mb-8">
    <h2 class="text-xl font-semibold mb-3">Céramiques</h2>
    <p class="mb-3">Toutes les céramiques Chabi Chic, y compris les tasses, les assiettes et les bols à salade, peuvent
      être lavées et la plupart sont adaptées au lave-vaisselle. Veuillez vérifier les instructions d'entretien avec la
      fiche produit pour des articles spécifiques.</p>
    <p class="mb-3">Les céramiques Tamegroute et Tadelakt ne doivent être essuyées qu'avec un chiffon humide et ne
      conviennent pas au lave-vaisselle.</p>
  </section>

  <section class="mb-8">
    <h2 class="text-xl font-semibold mb-3">Céramiques</h2>
    <p class="mb-3">Toutes les céramiques Chabi Chic, y compris les tasses, les assiettes et les bols à salade, peuvent
      être lavées et la plupart sont adaptées au lave-vaisselle. Veuillez vérifier les instructions d'entretien avec la
      fiche produit pour des articles spécifiques.</p>
    <p class="mb-3">Les céramiques Tamegroute et Tadelakt ne doivent être essuyées qu'avec un chiffon humide et ne
      conviennent pas au lave-vaisselle.</p>
  </section>

</div>
