<mat-card class="p-2" [ngClass]="{'text-center':!fullWidthMode}">
    <div [ngClass]="{'flex':fullWidthMode}">
        <img class="mb-1 mx-auto"
        [ngClass]="{'h-[200px]':!fullWidthMode,'h-[190px]':fullWidthMode}"
        src="https://artisans-dumaroc.com/cdn/shop/products/Chabichicceramicoilburnernude_800x.png?v=1637455428"
        >
        <div class="w-full"
        [ngClass]="{'pb-8 flex flex-col justify-between h-[200px] p-4':fullWidthMode}"
        >
            <div>
                <h5>CHABI CHIC</h5>
                <p class="truncate hover:whitespace-normal">CERAMIC OIL BURNER - NUDE</p>
                <p *ngIf="fullWidthMode">Use with your favorite wax melts or essential oils, this ceramic oil burner is handmade in a simple, minimalistic style with a subtle gold rim finish.  Use this burner to slowly diffuse a scent into your home in any room of your choice. Makes for a great gift to friends and family.</p>
            </div>
            <div class="flex justify-between ">
                <span class="text-red-400">
                    {{'150' | currency}}
                </span>
                <button (click)="onAddToCart()">
                    <mat-icon>shopping_cart</mat-icon>
                </button>
            </div>
        </div>
    </div>
</mat-card>

